.page {
  height: 100vh;
  box-sizing: border-box;
  margin: 0.5rem;
  background-color: orange;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.page--left {
  background-color: azure;
  height: 60%;
  padding: 0.5rem;
  grid-area: left;
}

.page--right {
  height: 40%;
  padding: 0.5rem;
  background-color: grey;
  grid-area: right;
}
