//sass varaiables
$primary-text-colour: #262626;
$secondary-text-colour: #3f3f3f;
$accent-border-colour: #f4b69c;
$hover-highlight-colour: gold;

//Single column layout

html {
    box-sizing: border-box;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}

.nav {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.nav--list-items {
    border-bottom: solid $accent-border-colour;
    display: inline-flex;
    font-size: 1.1rem;
    list-style-type: none;
}
.nav--list-items-links {
    color: $primary-text-colour;
    text-decoration: none;
}

.about {
    margin-left: 1rem;
    padding: 0.5rem;
}

.about--info {
    color: $primary-text-colour;
    font-size: 3.5rem;
    // margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.about--links {
    color: $secondary-text-colour;
    font-size: 1.6rem;
    line-height: 1.56;
    margin-top: 0;
    padding: 0.5rem;
}

.links {
    transition: background-color 0.2s;
}

.links:hover {
    background-color: $hover-highlight-colour;
}

.aside {
    margin-top: 0;
}

.aside-img {
    display: block;
    height: 30vh;
    object-fit: cover;
    width: 100vw;
}
//Support for newer browsers inc overrides
@supports(display: grid) {
    html {
        display: grid;
    }

    .content {
        grid-template-rows: 1fr 2fr;
    }

    .about {
        padding-top: 0;
    }
}
//2 column layout
@media screen and (min-width:46rem) {
    .content {
        display: flex;
    }

    .about {
        flex: 2;
        margin: auto 2rem 10rem 5rem;
        padding-left: 1rem;
    }

    .about--info {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .about--links {
        padding: 0;
    }

    .aside {
        flex: 1;
        padding-bottom: 0;
        padding-top: 0;
    }

    .aside-img {
        display: block;
        height: 100vh;
        object-fit: cover;
        width: 35vw;
    }
    // Support for newer browsers inc overrides
    @supports(display: grid) {
        html {
            display: grid;
        }
        .content {
            grid-template-rows: 1fr 2fr;
        }
    }
}
