.page {
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5rem; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.page--left {
  background-color: azure;
  height: 100%;
  width: 60%;
  float: left;
  padding: 0.5rem; }

.page--right {
  height: 100%;
  width: 40%;
  float: right;
  padding: 0.5rem;
  background-color: grey; }
