.page {
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5rem; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.page--left {
  padding: 0.5rem; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1rem; }

li a {
  text-decoration: none; }

li:nth-child(1) {
  margin-right: auto; }

.page--left-author {
  position: relative;
  top: 5rem;
  font-size: 3.5rem;
  padding: 0.5rem; }

.page--left-title {
  font-size: 1.6rem;
  position: relative;
  top: 2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem; }

img {
  max-width: 100%;
  max-height: auto;
  display: block; }

.page--right-text {
  position: relative;
  text-align: center;
  bottom: 15rem;
  font-size: 2rem;
  color: white; }

@supports (display: flex) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
  .page--left {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    height: auto; }
  .page--right {
    height: auto; } }

@supports (display: grid) {
  .page {
    display: grid; } }

@media screen and (min-width: 53.1rem) {
  .page {
    display: flow-root; }
  .page--left {
    height: 100%;
    width: 60%;
    float: left; }
  .page--right {
    height: 100%;
    width: 40%;
    float: right; }
  @supports (display: flex) {
    .page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row;
      flex-flow: row; }
    .page--left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; } }
  @supports (display: grid) {
    .page {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .page--left {
      width: auto; }
    .page--right {
      width: auto; } } }
